<form class="modal-content animate" action="action_page.php">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
    
        <div class="container">
          <label><b>Subject</b></label>
          <input [(ngModel)]="subject" placeholder="Enter Subject" name="subject" type="text">
          <input type="text" [(ngModel)]="text"  name="text" placeholder="Will you be my Mule? :)">          
          <button (click)="sendEmail()" class="btn btn-default">Send to all your Mules</button>
          <p *ngIf="error" class="error"> {{ error }} </p>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel petition</button>    
        </div>
      </form>