.btn-s:hover:not(.active) {
    background-color: #4CAF50;
     color:white}
     .card{
         display:inline-flex
     }
     .card-h{
        background-color: #4CAF50;
        color :white
      
      }
      .card-full{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      }
     .btn-s{
         width: 100%;
     }