<form>
  <div class="form-group">
    <label>Origin</label>
    <input type="text" [(ngModel)]="myTravels.origin" name="origin" class="form-control" placeholder="Where are you traveling from?">
  </div>
  <div class="form-group">
    <label>Destiny</label>
    <input type="text" [(ngModel)]="myTravels.destiny" name="destiny" class="form-control" placeholder="Where are you traveling?">
  </div>
  <div class="form-group">
    <label>When</label>
    <input type="Date" [(ngModel)]="myTravels.date" name="date" class="form-control">
  </div>
  <button type="submit" (click)="add(myTravels)" class="btn btn-s ">Submit</button>