/* Words container */
.ac__inner{
  background: #f6f6f6;
}

/* Individual word element */
.ac__word{
  margin: 0;
  padding: 5px;
}

/* Word prefix style. It’s the span containing the search keyword within the word. */
.ac__prefix{
  font-weight: bold;
}

/* Style applied to each words while navigating through the list or on hover */
.ac__word--selected, .ac__word:hover{
  background-color: #e3e3e3;
}
.card{
  display: inline-block;
  margin: 5px 15px;
}
.card-img-top{
  padding:5px;
}
.order-btn{
  margin-top: 5px;
  padding: 10px 30px;
}
.btn-s:hover:not(.active) {
  background-color: #4CAF50;
   color:white
  }
   .card-img-top{
     width: 80%
   }
.card{
  display:inline-flex
}
.card-h{
  background-color: #4CAF50;
  color :white

}
.card-b{
  padding:2.25rem ;
}