<div *ngIf="session.getUser()">
    <form>
        <input class="form-control" type="text" placeholder="What do you desire?" [(ngModel)]="values" name="values">
        <button (click)="submitProduct()"> Submit </button>
        <button (click)="searchProduct()"> Search </button>
        <mat-spinner></mat-spinner>
        <br>
        <br>
        <div *ngIf="values"><h3>When do you desire the {{values}} ?</h3></div>
        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" [(ngModel)]="myDate" name="myDate" (dateInput)="submitDate(myDate)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>



        <div *ngFor="let price of p" class="card" style="width: 18rem;">
            <img class="card-img-top" src={{image}} width="75" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ price.price | json }} - {{ price.currency | json }} </h5>
                <p class="card-text">{{price.shop_name | json }}</p>
                <a href={{price.url}} target="_blank" class="btn btn-primary">View Product Link</a>
                <a href='#' class="btn btn-success">Order product </a>
            </div>      
        </div>
        <br>
        <br>
        <button class="btn btn-danger" (click)="logout()">Logout-Home</button>

    </form>
    <br>
    <br>
</div>
<div *ngIf="!session.getUser()"> You do not have privileges to access this site! Please log in to place an order!
    <button [routerLink]="['']">Home</button>
</div>