<ul class="topnav">
    <li><a [routerLink]="['']"><img width="22px" src="https://asturgeek.files.wordpress.com/2014/03/firefox-ed2k.png?w=256&h=256&crop=1"></a></li>
    <li><a [routerLink]="['/user/home']">Create Request</a></li>
    <li><a [routerLink]="['/mytravels'] ">My Travels</a></li>
    <li><a [routerLink]="['/orders'] ">My orders</a></li>

    <li  class="right"><a [routerLink]="['/profile']">About</a></li>
  </ul>

<div style="text-align:center">

  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="getamule" src="https://asturgeek.files.wordpress.com/2014/03/firefox-ed2k.png?w=256&h=256&crop=1">
  <router-outlet></router-outlet>