<div class="background">
<br>
<div *ngIf="usernameId">
  <div class="card  border-light mb-3">
    <div class="card-header card-h">ABOUT</div>
    <div class="ca">
    <div class="card-body">
      <img class="profile-pic" src="https://d3uqp1raf0m8tp.cloudfront.net/assets/images/profile-green.png">
      <br>
      <br>
      <div>
        Nickname: {{ usernameId.username | uppercase}}
      </div>
      <div>Email: {{usernameId.email}}</div>
      <div>
        Your Country:{{ usernameId.originCountry | uppercase}}
      </div>
      <div>
        You have ({{ usernameId.orders.length }}) orders.
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button class="btn btn-s" [routerLink]="['edit',   usernameId._id] ">Edit User</button>
        </div>
        <div class="col">
          <button class="btn btn-d" (click)="logout()"> Logout </button>
        </div>
      </div>
    </div>
    </div>
  </div>
  <br><br><br>

</div>
<div *ngIf="!usernameId">
  <h1>You need to be Logged in to look into your details</h1>
  <button class="btn" [routerLink]="['']"> Home </button>
</div></div>