
.btn-s:hover:not(.active) {
    background-color: #4CAF50;
     color:white
    }
.ca{
    display:inline-flex
}
.card-h{
    background-color: #4CAF50;
    color :white
  
  }
  .profile-pic{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }